.kmodal {}

.kmodal-overlay,
.kmodal-window {
    opacity: 0;
    z-index: -1;
}

.kmodal.open .kmodal-overlay,
.kmodal.open .kmodal-window {
    opacity: 1;
    z-index: 100;
}
.kmodal.open .kmodal-overlay {
    background: rgba(0,0,0, .5);
}
.kmodal.open .kmodal-window {
    transform: translateY(100px);
}

.kmodal.hide .kmodal-overlay,
.kmodal.hide .kmodal-window {
    opacity: 1;
    z-index: 100;
}
.kmodal.hide .kmodal-overlay {
    background: rgba(0,0,0, 0);
}
.kmodal.hide .kmodal-window {
    transform: translateY(-200px);
}

.kmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0);
    transition: background .2s ease-in;
}

.kmodal-window {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}
.kmodal-header {
    padding: 7px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
.kmodal-title {
    font-size: 1.5rem;
}
.kmodal-close {
    cursor: pointer;
}
.kmodal-body,
.kmodal-footer {
    padding: 7px 15px;
}
.kmodal-body p {
    margin: 0 0 5px 0;
}

.kmodal-footer {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}